.body-todos{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: 'Tahoma', 'Arial';
    background: linear-gradient(-45deg, #683fe4, #aa5bdb, #3e56ad, #8d2983);
    background-size: 400% 1500%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header{
    background: rgb(255, 255, 255);
    padding: 7px 0;
}

nav{
    position: absolute;
    top: 38%;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: rgb(3, 3, 3);
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(55, 17, 90);
    text-decoration: underline;
}

ul{
    list-style: none;
}

.logo-caixa{
    width: 80%;
    position: relative;
    margin: auto;
}

.logo{
    width: 12%;
}

.banner{
    width: 100%;
    height: auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal{
    width: 100%;
    margin: 0 auto;
    padding: 4em 0;
    text-align: justify;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.baianin{
    width: 20%;
    float: left;
    margin: 0% 5% 3% 10%;
}

.paragrafo-principal{
    margin-top: 10%;
}

.map{
    padding: 5em 0;
    background: linear-gradient(345deg, #8602b1, #9913ff);
    margin-top: 110px;
}
.mapa-conteudo{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.map p{
    margin: 0 0 2em;
    text-align: center;
}

.beneficios{
    padding: 7em 0;
}

.conteudo-beneficio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin: 5% auto;
    margin-bottom: 10%;
}

.lista-beneficio{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    border: 2px dashed black;
    padding: 7% 1%;
    text-align: center;
}

.img-beneficios{
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 2px 2px 5px 0px rgb(139, 27, 135);
    margin-left: 10%;
}

.img-beneficios:hover{
    opacity: 0.7;
}

.itens{
    line-height: 1.5;
}
.itens:first-child{
    font-weight: bold;
}

.video{
    display: flex;
    margin: 10em;
    align-items: center;
    justify-content: center;
}

footer{
    text-align: center;
    background: black;
    padding: 1% 0;
}

footer img{
    width: 5%;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 1% 0 0;
}

/* PÁGINA DE CURSOS STYLE */

.descricao-cursos-box{
    display: block;
    background: linear-gradient( white,  rgb(255, 255, 255), rgba(255, 255, 255, 0.873), rgba(255, 255, 255, 0.697), #924ce12c);
    padding: 20px 10px 150px 100px;
}

.descricao-cursos-box h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #2f085f;
}
.descricao-cursos-box h2 strong{
    font-weight: bold;
}


.card1 {
    background-color: #ffffff;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    transition: 0.3s;
    margin-left: 7%;
    margin-bottom: 15%;
    margin-top: 7%;
    
}

.card1 h4{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;

}

.card1:hover {
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.329);
}

.card1:hover h4{
    text-decoration: underline;
}


.card-resto {
    background-color: #ffffff;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    transition: 0.3s;
    margin-left: 3%;
    margin-bottom: 10%;
    margin-top: 7%;
    
}

.card-resto h4{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;

}

.card-resto:hover {
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.329);
}

.card-resto:hover h4{
    text-decoration: underline;
}


.container {
  padding: 1px 10px;
  
}

.container p{
    width: 300px;
    text-align: center;
    padding-left: 2%;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;

}
.container h2{
    width: 300px;
}

.card1 img {
    border-radius: 5px 5px 0 0;
}

.card-resto img {
    border-radius: 5px 5px 0 0;
}

.button {  
    display: inline-block;  
    border-radius: 4px;  
    background-color: #8e19bd;  
    border: none;  
    color: #FFFFFF;  
    text-align: center;  
    font-size: 20px;  
    padding: 15px;  
    width: 150px;  
    transition: all 0.5s;  
    cursor: pointer;  
    margin-left: 22%;
    margin-bottom: 10%;
    margin-top: 10%;
    text-decoration: none;
    
}
.button:hover{      
    background-color: #008CBA;      
    color: white;
}

.curso-destaque{
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: #eedcff;
    top: 17%;
    left: 31.5%;  
}

/*///////////////////////////////////////////////////////////////////////STYLE DA PÁGINA CONTATO///////////////////////////////////////////////////////////*/
.form-body{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: 'Tahoma', 'Arial';
    background: #252525ea;
    background-size: 400% 1500%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}

form{
    margin: 9% 9%;
    color: #ffffff;
}

fieldset{
    display: grid;
    padding: 3% 3%;
    margin: auto;
    width: 50%;
}

fieldset input{
    width: 35%;
    margin: 1%;
}

textarea{
    margin: 1%;
}

.radio-button input{
    width: 10%;
    margin: 1% -3% 0 0;
}

.chk{
    margin: 1% 2% 1% 35%;
}

.enviar{

}

.descricao-form-box{
    display: block;
    background: white ;
    padding: 20px 10px 30px 200px;
}

.descricao-form-box h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin-bottom: 15px;
    color: #6f03f1;
}

.descricao-form-box p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(42, 38, 48);
    font-size: 1.3rem;
}